 #about {

        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        background-color: #c3eeea;
    }

    #registration {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        background-color: #fff;
    }

    #registration h5 a {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 18px;
        padding: 12px 36px;
        background: linear-gradient(90deg, #0162c8, #55e7fc);
        display: inline-block;
        border-radius: 40px;



    }

    #registration h6 {
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-size: 14px;
    }

    .reg_con h5 {
        margin-top: 100px;
    }

    .down_con h2 {
        font-size: 36px;
        font-weight: 700;
        color: #000;
        padding-bottom: 20px;
    }

    .down_con h3 {
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }

    .down_had h2 {
        font-size: 36px;
        font-weight: 700;
        color: burlywood;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .notice {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        position: left;
        border: 1px solid #ddd;
    }

    .navbar-nav .nav-item .nav-link {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: #506a85;
        padding: 0 5px;

    }

    .collapse ul li {
        position: relative;
    }

    .dropdown {
        display: none;
    }

    .collapse ul li:hover .dropdown {
        position: absolute;
        display: block;
        top: 100%;
        background-color: #c3eeea;
    }

    .collapse ul li:hover .dropdown ul {
        display: block;
        margin: 10px;
    }

    .collapse ul li:hover .dropdown ul li {
        width: 100px;
        padding: 8px;

    }

    .collapse ul li:hover .dropdown ul li a {
        color: #000;
        text-decoration: none;
    }

    #Contact {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        background-color: #3e3e3e;
    }

    /*
    #Contact .container{
        background-color: #5a5b5e;
    }
*/
    #Notice {
        background-color: #34A29C;
    }

    /*
    #registration .container{
        background-color: #5a5b5e; 
    }
*/
    #Contact h4 {
        color: #fff;
        font-size: 30px;
    }

    .cont_p h6 {
        color: #fff;
        font-size: 16px;
    }

    .cont_p p {
        color: #fff;
        font-size: 12px;
    }

    marquee {
        width: 480px;
        /*        margin-left: 20px;*/
        text-transform: uppercase;
        /*        margin-top: 20px;*/
        padding: 30px 5px;

    }

    marquee a {
        color: #f20707 !important;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .navbar-brand img {
        height: 80px;
    }

    .reg_logo {
        height: 100px;
    }

    .carousel-control-next {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-caption h5 {
        color: #000;
    }

    .carousel-item img {
        height: 750px;

    }

    #Notice {
        background-color: #34A29C;
    }

    .pic_img img {
        height: 250px;
        margin-top: 10px;
    }

    #pictuire {
        background-color: #fff;
    }

    .carousel-indicators li {
        transition: opacity 0.2s ease;
    }

    .cont_p {
        white-space: nowrap;
        text-align: center;
    }

    #footter {
        padding: 10px 0;
        text-align: center;
        background-color: #000;
    }

    #footter a {
        text-decoration: none;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    #footter p {
        color: #fff;
    }
    #footter .notice img{
        text-align: center;
    }
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        font-family: 'Poppins', sans-serif;
    }

    ul,
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0;
        margin: 0;
        font-size: 0.9em;
        color: #8c9398;
        line-height: 2em;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif;

    }


    /*manu part start*/
    .navbar {
        /*    padding: 25px 0;*/
        background-color: #ffffff;
    }

    /*menu part end*/

    /*banner part start*/
    .navbar-brand {
        width: 120px;
        padding: 2px 0;
        cursor: pointer;
    }

    /*
.banner{
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
    .ban_con {
        padding: 160px 0;
        margin-right: 520px;

    }

    .ban_con a {
        text-decoration: none;
    }

    .icon {
        /* z-index: 999; */
        left: 0%;
        height: 200px;
        width: 35%;
        top: 35%;

        /* clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%); */
    }

    .icon_text {
        /* z-index: 999; */
        left: 5%;
        color: #ffffff;
        width: 100%;
        top: 50%;
        font-size: 1.2rem;

        /* clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%); */
    }

    .icon_text_download {
        /* z-index: 999; */
        left: 5%;
        color: #ffffff;
        width: 100%;
        top: 50%;
        font-size: 1.2rem;

        /* clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%); */
    }

    .ban_con a img {
        height: 200px;
        width: 200px;
        display: flex;
        margin-left: 0px;
        margin-top: 15px;
    }

    .rocket {
        width: 300px;
        position: absolute;
        left: 8%;
        bottom: 0;
        animation: rocket 4s linear infinite;
    }

    @keyframes rocket {
        0% {
            bottom: 0;
            opacity: 0;
        }

        100% {
            bottom: 150%;
            opacity: 1;
        }
    }

    .ban_con h1 {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        padding: 10px 0;

    }


    /*banner part end*/
    .i_had {
        margin-bottom: 40px;
    }

    .btta img {
        height: 300px;
        width: 250px;
        background-color: #878787;
        border-radius: 30% 70% 70% 70% / 30% 30% 70% 70%;
        margin: 0 auto;
    }

    .btto_con h4 {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        color: #000;
        font-size: 26px;
        font-weight: 700;
        padding: 20px 0 10px;

    }

    /*
.btto_con h6 {
   font-family: 'Poppins', sans-serif;
    color: #30bae7;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;


}
*/
/*=============================================================*/

/*=============================================================*/
    .btto_con h6 {
        font-size: 14px;
    }

    .btto_con p {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 10px;
        font-size: 0.9em;
        color: #8c9398;
        line-height: 2em;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: justify;

    }

    #gallery h5 a {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 18px;
        padding: 12px 36px;
        background: linear-gradient(90deg, #0162c8, #55e7fc);
        display: inline-block;
        border-radius: 40px;



    }


    /*gallery2* satar*/


    /*gallery2* end/


/*gallery part start*/
    #gallery {
        padding: 100px 0;
        background-color: #fff;
        text-align: center;
    }


    /*gallery part end*/

    /*about part start*/
    #about {
        padding: 70px 0;
    }

    .ab_con {
        text-align: center;
    }

    .ab_con h1 {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        color: #506a85;
        padding: 10px 0;

    }

    .ab_con p {
        /*text-transform: uppercase;*/
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #a3b1bf;
        padding-bottom: 30px;

    }

    .ab_con a {
        /*text-transform: uppercase;*/
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        padding: 10px;
        background-color: #00bc9c;

    }

    /*about part end*/

    /*footer part start*/
    #footer {
        padding: 70px 0;
        background-color: #3e3e3e;

    }

    #footer h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: red;
        text-align: center;

    }

    #footer p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-align: justify;
    }

    .col-auto {
        text-align: left;
    }

    /*footer part end*/

    /*last part start*/

    .navbar-expand-lg {
        background-color: #34A29C;


    }

    .navbar-expand-lg .navbar-brand {
        color: #fff;
        font-size: 18px;


    }

    .last {
        text-align: center;
        margin-left: 300px;
    }

    .last p {

        font-family: 'Poppins', sans-serif;
        color: #000;

    }

    .last p a {
        color: rgb(204, 255, 204);
        font-size: 16px;
    }

    /*last part end*/